/********Profile Page CSS***************/
.background-image {
    background: url("../images/IMG_0762.PNG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-image-bio-container {
    margin-bottom: 1%;
}

.profile-image-container {
    position: relative;
    display: flex;
    margin-bottom: 2%;
}

.profile-image {
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 5%;
    max-width: 90%;
    max-height: fit-content;
}

.bottom-right {
    bottom: 0%;
    right: 0%;
    position: absolute;
}

.bio-text-container {
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 5%;
}

.bio-text-box {
    resize: none;
}

.profile-form-label {
    border-radius: 10px;
    padding: 0px 5px;
    margin: 5% 0% 1% 0%
}

.my-reviews-container {
    padding-top: 3%;
    padding-left: 5%;
    font-weight: bold;
}

.star-rating {
    color: gold;
    margin-left: 1%;
    margin-bottom: 1%;
}

.a-review {
    margin-bottom: 2%;
}

#manage-reviews-label {
    margin-bottom: 1.5%;
}
/*****End of Profile Page CSS****/

.a-favorite > textarea {
    background-color: white;
}

.a-favorite > input {
    background-color: white;
}

.favorites-container {
    margin-top: 5%;
}

.favorites-title {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin-bottom: 2%;
}

.charity-info-container {
    margin-top: 3%;
}

#favorites-logo {
    color: gold;
}

.no-border {
    border-style: hidden;
    resize: none;
    border-radius: 0%;
}

.no-border:focus {
    border-style: hidden;
    outline: none;
}

.no-border > input {
    border-style: hidden;
    resize: none;
    border-radius: 0%;
}

.default-cursor {
    cursor: default;
}

.background-white {
    background-color: white;
}

.button-at-end {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
}

/****End of Favorites CSS****/